<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthnut"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.healthnut.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.healthnut.Today"
            android:label="@string/title_activity_today" >
        </activity>
        <activity
            android:name="com.example.healthnut.AddFood"
            android:label="@string/title_activity_add_food" >
        </activity>
        <activity
            android:name="com.example.healthnut.AddExercise"
            android:label="@string/title_activity_add_exercise" >
        </activity>
        <activity
            android:name="com.example.healthnut.Calendar"
            android:label="@string/title_activity_calendar" >
        </activity>
        <activity
            android:name="com.example.healthnut.Analyze"
            android:label="@string/title_activity_analyze" >
        </activity>
        <activity
            android:name="com.example.healthnut.SocialNetwork"
            android:label="@string/title_activity_social_network" >
        </activity>
    </application>

</manifest>
